---
const { link, text } = Astro.props;
---

<a
  href={link}
  class="mt-4 inline-block hover:-translate-y-1 active:scale-95 bg-blue-500 hover:bg-blue-600 text-white px-3 py-1 rounded"
>
  {text}
</a>
