<footer
  class="bg-darkBlue w-full kaus grid grid-cols-1 md:grid-cols-3 gap-10 py-6 items-center"
>
  <section
    class="flex flex-col md:h-full w-full items-center"
    aria-labelledby="contact-heading"
  >
    <h3 id="contact-heading" class="text-white text-xl pb-2">Conectemos</h3>
    <nav class="flex gap-4" aria-label="Redes sociales">
      <a
        href="https://github.com/AlejandroLeon2"
        target="_blank"
        rel="noopener noreferrer"
        class="text-2xl text-gray-300 hover:text-blue-500 transition-colors duration-300"
        aria-label="GitHub"
      >
        <i class="fab fa-github"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/pedro-alejandro-le%C3%B3n-58ba4133a/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-2xl text-gray-300 hover:text-blue-500 transition-colors duration-300"
        aria-label="LinkedIn"
      >
        <i class="fab fa-linkedin"></i>
      </a>

      <a
        href="mailto:alejandroleonpedro7@gmail.com"
        class="text-2xl text-gray-300 hover:text-blue-500 transition-colors duration-300"
        aria-label="Enviar email"
      >
        <i class="fas fa-envelope"></i>
      </a>
    </nav>
  </section>

  <section
    class="poppins md:h-full w-auto px-4 md:px-0 flex flex-col items-center"
    aria-labelledby="tech-heading"
  >
    <h3 id="tech-heading" class="text-white kaus text-xl relative pb-2">
      Disponibilidad Laboral
    </h3>
    <p class="poppins text-gray-400 px-4">
      Actualmente en búsqueda de nuevas oportunidades
    </p>
  </section>

  <section
    class="poppins flex flex-col justify-center items-center w-auto"
    aria-labelledby="nav-heading"
  >
    <h3 id="nav-heading" class="text-white text-xl kaus pb-2">Explorar</h3>
    <nav aria-label="Enlaces de navegación">
      <ul class="space-y-2">
        <li>
          <a
            href="#bento"
            class="text-gray-400 hover:text-blue-400 transition-colors"
            >Proyectos
          </a>
        </li>
        <li>
          <a
            href="#experiencia"
            class="text-gray-400 hover:text-blue-400 transition-colors"
            >Experiencia</a
          >
        </li>
        <li>
          <a
            href="#sobreMi"
            class="text-gray-400 hover:text-blue-400 transition-colors"
            >Sobre Mí</a
          >
        </li>
        <li class="relative group inline-block">
          <a
            class="text-gray-400 group-hover:block hover:text-blue-400 transition-colors"
            >Blog Técnico</a
          >
          <div
            class="absolute hidden p-4 group-hover:block bg-white text-black text-sm py-1 px-2 rounded-lg -top-16 left-0 transform -translate-x-1/2"
          >
            Proximamente aun por implementar
          </div>
          <div></div>
        </li>
      </ul>
    </nav>
  </section>
</footer>
