<header class="flex items-center mx-auto text-white fixed w-full top-2 z-50">
  <div
    id="menu-button"
    class="md:hidden flex flex-col cursor-pointer z-50 bg-black h-auto w-auto mx-2"
  >
    <svg
      id="abrir"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-align-justify-icon lucide-align-justify px-1 w-10 rounded"
      ><path d="M3 12h18"></path><path d="M3 18h18"></path><path d="M3 6h18"
      ></path></svg
    >
    <svg
      id="cerrar"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-x-icon lucide-x hidden w-10"
      ><path d="M18 6 6 18"></path><path d="m6 6 12 12 "></path></svg
    >
  </div>

  <nav
    id="desktop-menu"
    class="[@media(max-width:767px)]:hidden md:flex justify-around fixed z-50 top-2 left-0 right-0 w-auto mx-10 lg:mx-30 xl:mx-80 px-10 py-2 bg-black/80 text-white rounded-full kaus"
  >
    <a href="#hero" class="focus:underline  active:underline linea">Hero</a>
    <a href="#sobreMi" class="linea">Sobre Mi</a>
    <a href="#bento" class="linea">Proyectos</a>
    <a href="#tecnologias" class="linea">Tecnologías</a>
    <a href="#experiencia" class="linea">Experiencia</a>
    <a href="#contacto" class="linea">Contacto</a>
  </nav>

  <nav
    id="mobile-menu"
    class="absolute text-xl kaus  -top-2 left-0 w-full bg-black/50 text-white flex flex-col items-center gap-4 py-4 transition-transform duration-900 -translate-y-full"
  >
    <a
      href="#hero"
      class="focus:text-dorado active:text-dorado rotate-vertical child">Hero</a
    >
    <a
      href="#sobreMi"
      class="focus:text-dorado active:text-dorado rotate-vertical child"
      >Sobre Mi</a
    >
    <a
      href="#bento"
      class="focus:text-dorado active:text-dorado rotate-vertical child"
      >Proyectos</a
    >
    <a
      href="#tecnologias"
      class="focus:text-dorado active:text-dorado rotate-vertical child"
      >Tecnologías</a
    >
    <a
      href="#experiencia"
      class="focus:text-dorado active:text-dorado rotate-vertical child"
      >Experiencia</a
    >
    <a
      href="#contacto"
      class="focus:text-dorado active:text-dorado rotate-vertical child"
      >Contacto</a
    >
  </nav>
  <script is:inline>
    document
      .getElementById("mobile-menu")
      ?.addEventListener("click", (event) => {
        if (event.target.classList.contains("child")) {
          document
            .getElementById("mobile-menu")
            ?.classList.toggle("-translate-y-full");
        }
      });
  </script>
</header>

<script>
  document.getElementById("abrir")?.addEventListener("click", toggleNavbar);
  document.getElementById("cerrar")?.addEventListener("click", toggleNavbar);
  function toggleNavbar() {
    document
      .getElementById("mobile-menu")
      ?.classList.toggle("-translate-y-full");
    document.getElementById("cerrar")?.classList.toggle("hidden");
    document.getElementById("abrir")?.classList.toggle("hidden");
  }
</script>
<style>
  .rotate-vertical:hover {
    animation: rotate-vertical 0.5s linear forwards;
  }
  .rotate-vertical:focus {
    animation: rotate-vertical 0.5s linear forwards;
  }

  @keyframes rotate-vertical {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }

  .linea {
    position: relative;
    padding: 0 8px;
    text-decoration: none;
    color: white;
  }

  .linea:last-child {
    border-right: none;
  }

  .linea::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }

  .linea:hover::before {
    transform: scaleX(1);
  }
  .linea:active::before,
  .linea.active::before {
    transform: scaleX(1);
  }
</style>
