<header class="flex items-center">
  <nav
    class="fixed z-50 top-2 left-0 right-0 mx-auto w-137 px-6 py-2 bg-black/80 text-white rounded-full font-mono"
  >
    <a
      href="#"
      class="border-white  border-r-2 px-2 relative before:content-[''] before:absolute before:block before:w-full before:h-[2px] before:bottom-0 before:left-0 before:bg-white before:scale-x-0 before:origin-left before:transition before:ease-in-out before:duration-300 hover:before:scale-x-100"
      >Hero</a
    >
    <a
      href="#"
      class="border-white border-r-2 px-2 relative before:content-[''] before:absolute before:block before:w-full before:h-[2px] before:bottom-0 before:left-0 before:bg-white before:scale-x-0 before:origin-left before:transition before:ease-in-out before:duration-300 hover:before:scale-x-100"
      >Proyectos</a
    >
    <a
      href="#"
      class="border-white border-r-2 px-2 relative before:content-[''] before:absolute before:block before:w-full before:h-[2px] before:bottom-0 before:left-0 before:bg-white before:scale-x-0 before:origin-left before:transition before:ease-in-out before:duration-300 hover:before:scale-x-100"
      >Tecnologias</a
    >
    <a
      href="#"
      class="border-white border-r-2 px-2 relative before:content-[''] before:absolute before:block before:w-full before:h-[2px] before:bottom-0 before:left-0 before:bg-white before:scale-x-0 before:origin-left before:transition before:ease-in-out before:duration-300 hover:before:scale-x-100"
      >Experiencia</a
    >
    <a
      href="#"
      class=" px-2 relative before:content-[''] before:absolute before:block before:w-full before:h-[2px] before:bottom-0 before:left-0 before:bg-white before:scale-x-0 before:origin-left before:transition before:ease-in-out before:duration-300 hover:before:scale-x-100"
      >Contacto</a
    >
  </nav>
</header>
