---
const { tamaño = "lg:w-auto", contenedor = "xl:w-9/12" } = Astro.props;
---

<section
  class={`h-auto 2xl:w-full 2xl:px-4 w-11/12 ${contenedor} flex justify-center items-center relative overflow-hidden rounded-xl`}
>
  <button
    class="[@media(max-width:427px)]:hidden left-buttom group active:scale-95 flex justify-center items-center duration-400 absolute rounded-2xl buttom-1/2 left-2 xl:left-3 w-8 lg:w-9 xl:w-12 h-9/12 opacity-30 focus:opacity-100 active:opacity-100 hover:opacity-90 bg-white/20 border-white"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide text-white w-full h-auto xl:p-1 group-hover:animate-pulse"
      ><path d="M19 15V9"></path><path d="M15 15h-3v4l-7-7 7-7v4h3v6z"
      ></path></svg
    >
  </button>
  <section
    class={`${tamaño} slider min-w-[300px] overflow-x-auto rounded-xl scroll-smooth snap-x snap-mandatory flex`}
  >
    <slot />
  </section>
  <button
    class="[@media(max-width:427px)]:hidden right-buttom group active:scale-95 flex justify-center items-center duration-400 absolute rounded-2xl buttom-1/2 right-2 xl:right-3 w-8 lg:w-9 xl:w-12 h-9/12 opacity-30 focus:opacity-100 active:opacity-100 hover:opacity-90 bg-white/20 border-white"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide text-white w-full h-auto xl:p-1 group-hover:animate-pulse"
      ><path d="M5 9v6"></path><path d="M9 9h3V5l7 7-7 7v-4H9V9z"></path></svg
    >
  </button>
</section>
<!--Botones de navegacion -->

<style>
  /* Oculta la barra de scroll en y*/
  .slider::-webkit-scrollbar {
    display: none;
  }
</style>
