@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

.kaus {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}



:root {
    --intermediobento-ancho: 347px;
    --intermediobento-altura: 260px;

    --pequeñobento-ancho: 190px;
    --pequeñobento-altura: 140px;

    --medianobento-ancho: 264px;
    --medianobento-altura: 260px;

    --grandebento-ancho: 555px;
    --grandebento-altura: 250px;
}

@theme {
    --color-darkBlue: #1C2A48;
    --color-deepGray: #313338;
    --color-warmTone: #EEA976;
    --color-naranja: #d35400;
    --color-mutedBlue: #5B6B97;
    --color-neonBlue: #40B3CD;
    --color-neonCyan: #A8ECFB;
    --color-neonGreen: #9BDDA8;
    --color-turquesa: #1abc9c;
    --color-dorado: #f39c12;
    --color-rojo: #c0392b;
    --color-morado: #3B3B98;
    --color-cafe: #cd6133;
}