---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const particles = Array.from({ length: 35 }, () => ({
  left: `${Math.random() * 100}%`,
  top: `${Math.random() * 100}%`,
}));
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Alejandro82</title>
  </head>
  <body>
    <Header />
    <section class="absolute h-100 w-full">
      {
        particles.map((particle) => (
          <span
            class="absolute border-dorado 2xl:border-white border-2 w-[2px] h-[2px] bg-yellow-300 rounded-full animate-pulse"
            style={`left: ${particle.left}; bottom: ${particle.top};`}
          />
        ))
      }
    </section>

    <main
      class="2xl:grid 2xl:grid-cols-2 2xl:bg-gradient-to-b from-mutedBlue via-neonGreen to-mutedBlue"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style>
  html {
    scroll-behavior: smooth;
  }

  @keyframes slowRotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .slow-spin {
    animation: slowRotate 60s linear infinite; /* Cambia 60s por el tiempo que prefieras */
  }
</style>
